.gray-line {
    background-color: #6c757d;
    height: 2px;
    width: 90%;
    margin: 0 auto;
}
nav {
    background-color: black;
    background-image: linear-gradient(to right, #0f5055, #031029);
    color: white;
}
body {
    background-image: linear-gradient(to right, #0f5055, #031029);
    overflow: hidden;
}
.navbar-nav .nav-link {
    color: #D3D3D3;
    font-family: "Oregano", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 22pt;
    transition: color 0.3s ease, transform 0.3s ease;
}
.navbar-nav .nav-link.active {
    font-weight: bold;
    color: #D3D3D3;
}
.navbar-brand {
    color: #D3D3D3;
}
.navbar-brand:hover {
    color: #D3D3D3;
}
.navbar-nav .nav-link:hover {
    transform: scale(1.2) rotate(5deg);
    text-shadow: 0 0 10px rgba(18, 150, 211, 0.8), 0 0 10px rgb(22, 132, 184) ;
    color: aqua;
}
.disabled-link {
    color: gray;
    pointer-events: none;
    text-decoration: none;
    cursor: default;
}
.title-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #D3D3D3;
}
.big-title {
    font-size: 7.5vw;
    margin: 0;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    position: relative;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
           0 0 20px rgba(0, 204, 255, 0.8), 
           0 0 30px rgba(0, 83, 109, 0.6);
}
.sub-title {
    font-size: 2.5vw;
    margin-top: 20px;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}
.typed-cursor {
    font-size: 7.5vw;
    color: #D3D3D3;
    animation: blink 0.7s infinite;
}
.sub-title .typed-cursor {
    font-size: 6vw;
}
@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    50.01%, 100% {
        opacity: 0;
    }
}
.fade-out {
    animation: fadeOut 1s forwards;
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.falling-fridge {
    position: absolute;
    top: -50px;
    width: 50px;
    height: 50px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/4352/4352975.png');
    background-size: cover;
    animation: fall 3s linear infinite;
}
@keyframes fall {
    to {
        transform: translateY(10vw);
    }
}
.image {
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 204, 255, 0.8), 0 0 30px rgba(0, 204, 255, 0.6);
    transition: box-shadow 0.3s ease;
}
.image:hover {
    box-shadow: 0 0 20px rgb(11, 87, 173), 0 0 40px rgba(18, 37, 211, 0.8);
}

@media screen and (max-width: 740px) {
    .sub-title {
        font-size: 5vw; 
    }

    .big-title {
        font-size: 14vw;
    }
    .big-title .typed-cursor {
        font-size: 14vw;
    }

    .sub-title .typed-cursor {
        font-size: 5vw;
    }
}